/* CSS Document */
* {
  border: 0px solid #000000;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 13px;
}
img {
  display: block;
}
.oldBrowser {
  display: none;
}
.clear {
  clear: both !important;
  float: none !important;
  margin: 0px !important;
  padding: 0px !important;
  height: 0px !important;
  width: 0px !important;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #383737;
  font-size: 13px;
  line-height: 18px;
}
html {
  overflow: -moz-scrollbars-vertical;
  height: 100%;
}
#geral {
  min-height: 100%;
  position: relative;
  background-color: #e3e4df;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #5E6C80 !important;
}
* html #geral {
  height: 100%;
}
p,
a,
label,
h1,
h2,
h3,
h4,
h5,
h6,
input,
div,
span {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.box-left {
  float: left;
}
.box-right {
  float: right;
}
.main-font {
  font-family: 'Open Sans', sans-serif;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif !important;
}
/*******************************/
/*******************************/
/*******************************/
/*MIXINS*/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*VARIABLES*/
.simple-button-with-icon {
  color: #ffffff;
  text-decoration: none !important;
  display: block;
}
.simple-button-with-icon .fa {
  color: #ffffff;
  font-size: 12px;
}
.simple-button-with-icon .txt {
  color: #ffffff;
  margin-left: 5px;
  font-size: 12px;
}
.bt {
  background-color: #16a085;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 100%;
  display: block;
  color: #ffffff;
  font-weight: 400;
}
.bt:hover {
  background-color: #0f7763;
}
.header {
  background-color: #16a085;
  padding: 0 !important;
  border-bottom: 3px solid #0f7763;
  margin-bottom: 0px !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .header__inner {
  padding: 20px 30px;
}
.header h1 {
  margin: 0px !important;
  color: #ffffff;
  font-size: 16px !important;
  font-weight: 500;
  text-transform: uppercase;
}
.header h2 {
  margin: 3px 0 0 0 !important;
  color: #313945;
  font-size: 14px !important;
}
.header .box-right {
  margin-top: 10px;
}
.form-sign {
  max-width: 330px;
  margin: 0 auto 0 auto;
  padding-top: 200px;
}
.form-sign form {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.form-sign .item__iner {
  padding: 15px 10px 12px 10px;
}
.form-sign .item input {
  border: none;
  background: none;
  width: 100%;
}
.form-sign hr {
  border: none;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
.form-sign .bt {
  padding: 10px 0;
  margin-top: 10px;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #313945;
  height: 100%;
  width: 300px;
}
.sidebar .sidebar__inner {
  padding-top: 77px;
}
.sidebar .sidebar__menu__header {
  background-color: #272E38;
  margin: 0px;
  padding: 15px 25px;
}
.sidebar .sidebar__menu__header .fa {
  color: #ffffff;
}
.sidebar .sidebar__menu__header span {
  color: #ffffff;
  margin-left: 10px;
}
.sidebar .sidebar__menu__bt {
  border-bottom: 1px solid #282F39;
}
.sidebar .sidebar__menu__bt a.bt-main {
  position: relative;
  padding: 0px !important;
  border-left: 6px solid #313945;
  text-decoration: none;
  font-weight: 100;
  display: block;
  width: 100%;
}
.sidebar .sidebar__menu__bt a.bt-main div {
  padding: 15px 35px 15px 0;
}
.sidebar .sidebar__menu__bt a.bt-main span {
  padding: 10px 20px;
  text-decoration: none;
  color: #9DA6B2;
}
.sidebar .sidebar__menu__bt a.bt-main i {
  top: 50%;
  right: 15px;
  color: #9DA6B2;
  color: #9DA7B3;
  position: absolute;
  margin-top: -6px;
}
.sidebar .sidebar__menu__bt a.bt-main:hover {
  border-color: #16a085;
}
.sidebar .sidebar__menu__bt a.bt-main:hover span {
  color: #16a085;
}
.sidebar .sidebar__menu__bt a.bt-main:hover i {
  color: #16a085;
}
.sidebar .submenu-wrapper.open a.bt-main {
  border-color: #16a085;
}
.sidebar .submenu-wrapper.open a.bt-main span {
  color: #16a085;
}
.sidebar .submenu-wrapper.open a.bt-main i {
  color: #16a085;
}
.sidebar .submenu {
  background-color: #414c5c;
  display: none;
}
.sidebar .submenu ul {
  border-top: 1px solid #282F39;
}
.sidebar .submenu ul .subitem {
  display: block;
  text-decoration: none;
}
.sidebar .submenu ul .subitem a {
  position: relative;
  color: #9DA6B2;
  text-decoration: none;
  font-size: 13px;
  display: block;
}
.sidebar .submenu ul .subitem a:hover span {
  color: #16a085;
}
.sidebar .submenu ul .subitem a:hover i {
  color: #16a085;
}
.sidebar .submenu ul .subitem div {
  padding: 15px 35px 15px 20px;
}
.sidebar .submenu ul .subitem span {
  padding: 10px 20px;
  text-decoration: none;
  color: #9DA6B2;
}
.sidebar .submenu ul .subitem i {
  top: 50%;
  right: 15px;
  color: #9DA6B2;
  color: #9DA7B3;
  position: absolute;
  margin-top: -6px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.container-wrapper {
  width: 100%;
}
.container-wrapper .container__inner {
  padding: 77px 0 0 300px;
}
.container-wrapper .container__wrapper {
  padding: 10px;
}
.msg-logged {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  max-width: 300px;
  margin: 100px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.msg-logged .msg-logged__inner {
  padding: 10px 30px 40px 30px;
  text-align: center;
}
.msg-logged .msg-logged__inner i {
  display: block;
  font-size: 110px;
  line-height: 120px;
  color: #16a085;
}
.msg-logged .msg-logged__inner span {
  display: block;
  font-weight: 500;
}
.header__section {
  background-color: #16a085;
  border-bottom: 3px solid #0f7763;
}
.header__section .header__section__inner {
  padding: 15px 20px;
}
.header__section .header__section__inner .title {
  margin-top: 5px;
  color: #ffffff;
  float: left;
}
.header__section .header__section__inner .title span {
  color: #0f7763;
}
.header__section .header__section__inner .title i {
  color: #0f7763;
  margin: 0 8px;
  font-size: 12px;
}
.header__section .header__section__inner .button {
  margin-top: 3px;
  float: right;
}
.header__section .header__section__inner .button i {
  color: #0f7763;
  font-size: 20px;
  line-height: 22px;
}
.header__section .header__section__inner .button:hover i {
  color: #ffffff;
}
.wrapper_geral {
  margin: 30px 0 20px 0;
}
.tab-box {
  position: relative;
}
.tab-box .tab-box__wrapper {
  background-color: #ffffff;
  min-height: 215px;
}
.tab-box__tabs {
  padding: 4px 0 0 2px;
  margin: 0;
}
.tab-box__tab {
  float: left;
  background-color: #f3f3f3;
  margin: 0 0 0 3px;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.tab-box__tab .tab-box__bt {
  text-decoration: none;
}
.tab-box__tab .tab-box__txt {
  display: block;
  padding: 10px 25px 7px 25px;
  font-weight: 500;
  color: #888888;
  font-size: 12px;
}
.tab-box__tab.active {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}
.tab-box__wrapper .tab-box__content {
  display: none;
}
.tab-box__wrapper .tab-box__content.active {
  display: block;
}
.tab-box__bt__mobile {
  margin: 8px 25px;
  display: block;
  border-bottom: 1px solid #16a085;
  padding: 5px 0;
  display: none;
  background-color: #eeeeee;
}
.tab-box__item:last-child .tab-box__bt__mobile {
  border: none;
}
.tab-box__bt__mobile.active {
  border-bottom: 1px solid #16a085 !important;
}
.tab-box__bt__mobile .txt {
  float: left;
  color: #16a085;
  font-weight: 600;
  margin-left: 10px;
}
.tab-box__bt__mobile .icon {
  float: right;
  margin: 7px 10px 0 0;
}
.listagem-conteudo {
  padding: 40px 30px;
}
.listagem-conteudo table {
  width: 100%;
}
.simple-input {
  margin-top: 15px;
}
.simple-input .inner {
  border: 1px solid #e3e4df;
  padding: 10px 10px;
}
.simple-input input {
  border: none;
  background: none;
  width: 100%;
  color: #929292;
}
.wrapper-boxes {
  padding: 20px 0 10px 0;
}
.wrapper-boxes .inner {
  padding: 5px 0 10px 0;
}
.wrapper-boxes .checkbox {
  float: left;
  width: 25%;
  margin-bottom: 10px;
}
.text-area {
  margin-top: 20px;
}
.text-area .inner {
  padding: 10px;
  border: 1px solid #e3e4df;
}
.text-area textarea {
  font-family: 'Open Sans', sans-serif;
  border: none;
  background: none;
  color: #929292;
  width: 100%;
  height: 100px;
  resize: none;
}
.text-area-edit {
  margin-top: 20px;
}
.header__section .header__section__inner .bt-remover-galeria {
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #d0604d;
  padding: 2px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.header__section .header__section__inner .bt-remover-galeria i {
  font-size: 10px;
  margin-right: 5px;
  color: #ffffff;
}
.header__section .header__section__inner .bt-remover-galeria:hover {
  background-color: #b94741;
}
.input-file .box-item {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  overflow: hidden;
}
.input-file .box-with-border-down {
  border: 1px solid #e3e4df;
  background-color: #ffffff;
  height: 40px;
  cursor: pointer;
}
.input-file .fake-input-file .box-item {
  position: relative;
}
.input-file .fake-input-file .fake-input-file__label {
  position: absolute;
  font-size: 12px;
  left: 0;
  top: 4px;
  color: #828282;
  margin: 10px 0 0 11px;
}
.input-file .fake-input-file .fake-input-file__fake-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  background-color: #16a085;
}
.input-file .fake-input-file .fake-input-file__fake-button span {
  display: block;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  width: 135px;
  padding-top: 15px;
  text-align: center;
}
.input-file .fake-input-file .fake-input-file__input-hide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.title-value {
  color: #929292;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}
.txt-checkbox {
  padding-left: 10px;
  color: #929292;
}
/*Responsive yessss*/
@media screen and (max-width: 35.5em) {
  .tab-box .tab-box__menu {
    display: none;
  }
  .tab-box__bt__mobile {
    display: block;
  }
  .tab-box .tab-box__wrapper {
    min-height: auto;
    padding: 10px 0;
  }
  .tab-box__item .tab-box__itens {
    padding: 8px 10px;
  }
  .tab-box__bt__mobile {
    margin: 8px 10px;
  }
}
.td-ativo {
  width: 50px;
  text-align: center;
}
.td-editar {
  width: 50px;
  text-align: center;
}
.td-editar a {
  margin-top: 3px;
  display: inline-block;
}
.td-editar a i {
  color: #a8a5a5;
}
.td-editar a:hover i {
  color: #16a085;
}
.td-descricao p {
  font-size: 13px;
  line-height: 15px;
  margin-top: 3px;
}
.td-remover {
  width: 50px;
  text-align: center;
}
.td-remover a {
  margin-top: 3px;
  display: inline-block;
}
.td-remover a i {
  color: #a8a5a5;
}
.td-remover a:hover i {
  color: #16a085;
}
.listagem-conteudo .cont-table {
  overflow-x: scroll;
  min-height: 300px;
}
.listagem-conteudo table {
  min-width: 600px;
}
.listagem-conteudo .header-table {
  border-bottom: 3px solid #c5c5c5;
}
.listagem-conteudo .header-table td {
  padding-bottom: 5px;
}
.listagem-conteudo .header-table strong {
  color: #929292;
}
.table-item td {
  padding: 10px 0;
}
.table-item.stripe {
  background-color: #f9f9f9;
}
.checkbox {
  display: block;
  min-height: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: inherit;
}
.checkbox a {
  background-color: #e3e3e3;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px;
}
.checkbox a i {
  visibility: hidden;
  color: #16a085;
}
.checkbox.ativo i {
  visibility: visible;
}
.pagination {
  float: right;
  margin-top: 30px;
}
.pagination a {
  float: left;
  padding: 3px 6px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: 4px;
}
.pagination a i {
  font-size: 12px;
  color: #898989;
}
.pagination a:hover {
  background-color: #16a085;
}
.pagination a:hover i {
  color: #ffffff;
}
.pagination p {
  margin: 4px 10px 0 0;
  float: left;
  color: #898989;
}
.pagination p strong {
  color: #898989;
}
.wrapper-galeria {
  margin-top: 20px;
  background-color: #ffffff;
}
.wrapper-galeria .inner {
  padding: 40px 30px;
}
.galeria-imagens {
  margin-top: 10px;
}
.galeria-imagens .box-img {
  width: 20%;
  float: left;
  margin-bottom: 10px;
}
.galeria-imagens .box-img__inner {
  padding: 0 5px;
}
.galeria-imagens .img-box-wrapper {
  border: 1px solid #cccccc;
  height: 140px;
  width: 100%;
  overflow: hidden;
}
.galeria-imagens .img-box-wrapper img {
  margin: 0 auto;
  display: block;
}
.border-default {
  border: 1px solid #e3e4df;
}
.msg {
  font-size: 12px;
  color: #898989;
  margin-top: 20px;
  display: block;
}
.descricao-file {
  font-size: 12px;
  color: #898989;
  margin-top: 5px;
  display: block;
  font-style: italic;
}
.bt-cadastro {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 15px 20px;
  margin-top: 20px;
}
